header {
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/anemone.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 1s;
    cursor: pointer;
}

.logo:hover {
    letter-spacing: 5px;
}

.header-box {
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100hv;
    font-size: 50px;
}


.header-box h3:hover{
    font-size: 50px;
}

@media (max-width: 1920px){
    .header-box h3 {
        transition: 1s;
        cursor: pointer;
    }

    .header-box p{
        font-size:100%;
    }
}

@media (max-width: 700px){
    .header-box h3 {
        font-size: smaller;
        transition: 1s;
        cursor: pointer;
    }

    .header-box p{
        font-size: smaller;
    }

}