nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 0.644);
    color:#fff;
}

nav ul,
a {
    display: flex;
    gap: 60px;
    list-style: none;
    text-decoration: none;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.5s;
}

nav a:hover {
    transform: scale(110%);
}